@model IEnumerable<WeatherAggregator.Models.City>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ПОГОДА</h1>
    <p class="lead">ВОТ ЭТО ПРИЛОЖЕНИЕ ВОТ ЭТО ПОГОДА 10/10</p>
</div>

<div class="row">
    @foreach (var city in Model)
    {
    <div class="col-md-4">
        <h2>@city.Name</h2>
        <p>
            @city.Lat, @city.Lng
        </p>
    </div>
    }
</div>