@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<WeatherAggregator.Models.City>

<div class="jumbotron">
    <h1>ПОГОДА</h1>
    <p class="lead">ВОТ ЭТО ПРИЛОЖЕНИЕ ВОТ ЭТО ПОГОДА 10/10</p>
</div>

<div class="row">
    @foreach (var city in Model)
    {
    <div class="col-md-3">
        @Html.ActionLink(city.Name, "Forecasts", new RouteValueDictionary { {"Id", city.CityId } })
    </div>
    }
</div>